<footer></footer>
<h3><%=t('footer.title')%></h3>
<a href="/Datenschutz"><%=t('footer.datenschutz')%></a>
<a href="/Nutzung"><%=t('footer.nutzung')%></a>
<a href="/Impressum"><%=t('footer.impressum')%></a>
<a href="https://www.youtube.com/watch?v=xvFZjo5PgG0"><%=t('footer.paul')%></a>

</div>
</body>
</html>