<!DOCTYPE html>

<html lang="<%= lang %>">

<head>
    <title><%= title %></title>
    <link rel="icon" type="image/x-icon" href="/images/header/logo32.ico"/>

    <script type="text/javascript" src="/scripts/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/scripts/selectize.min.js"></script>

    <link rel="stylesheet" href="/style/selectize.bootstrap5.min.css"/>
    <link rel="stylesheet" href="/style/w3.css"/>
    <link rel="stylesheet" href="/style/header.css"/>
    <link rel="stylesheet" href="/style/selectize-header.css"/>
    <link rel="stylesheet" href="/style/footer.css"/>
    <link rel="stylesheet" href="/style/sites/<%= site %>.css">

    <meta charset="utf-8"/>
    <meta name="description" content="Aktuelles Wetter in Straubing, bereitgestellt durch die Wetterstation des Johannes-Turmair-Gymnasiums Straubing"> <!-- TODO: Replace with a dynamic filled value -->
    <meta name="keywords" content="JTG, Wetterdaten">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="googlebot-image" content="noindex" />
    <meta name="MSNBot-Media" content="noindex" />
</head>

<div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="navbar-inner">
        <a class="logo" href="/">
            <figure>
                <img src="/images/header/logo3.svg" height="36px" alt="<%=t('header.logo-alt')%>" id="logoimage"/>
                <figcaption class="logocaption">
                    <%=t('header.logo-span')%>
                </figcaption>
            </figure>
        </a>

        <figure class="weatherSmall">
            <img src="/images/weather/svg/cloud.webp" alt="<%=t('header.weather.alt_cloudy')%>" height="50px" id="weatherimage">
            <figcaption class="logocaption alwaysShow" id="tempCaption">
                <script type="text/javascript" nonce="<%= nonce %>">
                    $(document).ready(function() {
                        $.ajax({
                            url: '/api/temperatur',
                            type: 'GET',
                            success: function(data) {
                                document.querySelector('#tempCaption').innerHTML = Math.round(data.map(row => row.outTemp) * 10) / 10 + "&#8451";
                            },
                            error: function(xhr, status, error) {
                                console.error('Error calling /api/temperatur: ', error);
                            }
                        });
                    });
                </script>
                ~ &#8451
            </figcaption>
        </figure>

        <div class="spacer"></div>

        <div class="menu-btn">
            <div class="btn-line"></div>
            <div class="btn-line" style="transition-duration: 0.25s;"></div>
            <div class="btn-line"></div>
        </div>
        <div class="menu w3-sidebar w3-bar-block w3-card w3-animate-right" id="rightMenu">
            <a href="/<%=t('login', {postProcess: 'link'})%>" class="w3-bar-item w3-button", id="loginsitebar"><%=t('login')%></a>
            <a href="/about" class="w3-bar-item w3-button"><%=t('header.nav.about')%></a>
            <a href="/link3" class="w3-bar-item w3-button"><%=t('header.nav.link3')%></a>
        </div>
        <script type="text/javascript" nonce="<%= nonce %>">
            // Select dom items
            const menuBtn =
                document.querySelector(".menu-btn");

            const menu =
                document.querySelector(".menu")


            // Set the initial state of the menu
            let showMenu = false;

            menuBtn.addEventListener("click", toggleMenu);

            function toggleMenu() {
                if (!showMenu) {
                    menuBtn.classList.add("close");
                    menu.classList.add("show");

                    // Reset the menu state
                    showMenu = true;
                } else {
                    menuBtn.classList.remove("close");
                    menu.classList.remove("show")

                    // Reset the menu state
                    showMenu = false;
                }
            }
        </script>
        <ul class="navbar-right" >
            <li>
                <select id="language" placeholder="Choose your language"></select>
                <script type="text/javascript" nonce="<%= nonce %>">
                        const COUNTRIES = <%- languages %>;

                        const $select = $("#language").selectize({
                            openOnFocus: false,
                            onChange: function(value) {
                                $.ajax({
                                    url: "/api/lang",
                                    type: "POST",
                                    data: {
                                        "lng": value,
                                        "CSRFToken": "<%= csrfToken %>"
                                    },
                                    dataType:"json",
                                    success: function () {location.reload();} // TODO Finish this
                                });
                            },
                            maxItems: 1,
                            labelField: 'name',
                            valueField: 'code',
                            plugins: ['autofill_disable'],
                            searchField: ['name', 'code'],
                            options: COUNTRIES,
                            preload: true,
                            persist: false,
                            render: {
                                item: function (item, escape) {
                                    return "<div><img src='/images/" + escape(item.code) + ".png' class='flag flag-" + escape(item.code) + "' alt='flag' /></div>";
                                },
                                option: function (item, escape) {
                                    return "<div><img src='/images/" + escape(item.code) + ".png' class='flag flag-" + escape(item.code) + "' alt='flag' />&nbsp;" + escape(item.name) + "</div>";
                                }
                            }
                        });
                        const selectize = $select[0].selectize;
                        selectize.setValue("<%- lang %>", true);

                        const $element = document.evaluate("/html/body/div[1]/div/ul/li[1]/div/div[2]", document, null, XPathResult.FIRST_ORDERED_NODE_TYPE, null).singleNodeValue;
                        $element.style.display = "block";
                        const w = $element.clientWidth;
                        $element.style.display = "none";
                        document.styleSheets[0].insertRule(".selectize-dropdown { left: -" + (w/2) + "px !important;}", 0);
                </script>
            </li>
            <li><a href="/<%=isLoggedIn ? "api/logout" : t('login', {postProcess: 'link'}) %>" class="button-top-right" id="login-li"><%=t(isLoggedIn ? 'logout' : 'login')%></a></li>
            <li><a href="/<%= t('about', {postProcess: 'link'}) %>" class="button-top-right"><%=t('header.nav.about')%></a></li>
            <li><a href="/link3" class="button-top-right"><%=t('header.nav.link3')%></a></li>
        </ul>
    </div>
</div>

<div class="container" style="min-height: calc(100vh - 178.5px);">
</html>