<%- include ("_header.ejs"); %> <!-- TODO Dynamic this-->
<div class="all">
<h1><%=t('aboutus.title')%></h1>
<p>
    <%=t('aboutus.textmain')%>
</p>

<p>
    <%=t('aboutus.textgoal')%>
</p>

<p>
    <%=t('aboutus.textthanks')%>
</p>
</div>
<img src="images/jtgvorne.jpg" class="picture">
<%- include ("_footer.ejs"); %>