<%- include ("_header.ejs"); %>
<div class="container">
    <div id="image-container">
        <img src="/images/jtgvorneklein.jpg" alt="<%=t('index.about.image')%>"/>
        <!-- TODO Replace this image with a new one -->
    </div>
    <h4><%=t('index.about.title')%></h4>
        <p><%=t('index.about.text')%></p>
</div>

<div class="container">
    <h4><%=t('index.weather.title')%></h4>
        <p><%=t('index.weather.erklaerung')%></p>

</div>
<%- include ("_table.ejs");%>

<%- include ("_footer.ejs"); %>