<%- include ("_header.ejs"); %> <!-- TODO Dynamic this-->
<div class="login-form">
    <form action="/api/login" id="login" method="post">
        <div class="formlogo">
            <div class="pull-right">
                <img src="/images/header/logo3.svg" alt="<%= t("header.logo-alt") %>" height="48px"/>
            </div>
            <h1 class="formtitel"><%= t("header.logo-span") %></h1>
            <h2 class="formtitel small">Johannes-Turmair-Gymnasium</h2>
        </div>
        <hr/>

        <input type="hidden" name="_csrf" value="<%= _csrfToken %>"/>
        <input type="hidden" name="from" value="<%= from %>">

        <p style="margin: 0; color: red"><%= failed %></p>
        <label class="input-labels" for="email">E-Mail</label>
        <input class="input-boxes" type="email" maxlength="30" id="email" name="email" placeholder="E-Mail-Adresse" required autofocus/>

        <label class="input-labels" for="password">Passwort</label>
        <input class="input-boxes" type="password" maxlength="40" id="password" name="password" placeholder="Passwort" required autofocus/>

        <button class="button" type="submit" id="submit"><%= t("login") %></button>
        <hr/>

        <div id="links" class="" style="margin-top: 10px; text-align: center;">
            <a href="/register">Registrieren</a>
            <a href="/change-password">Passwort vergessen</a>
        </div>
    </form>
</div>

<%- include ("_footer.ejs"); %>